.App {
  font-family: sans-serif;
  text-align: center;
}

.loading-spinner {
  width: 200px;
  height: 200px;
  margin: 2rem auto;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 1rem auto;
  width: 500px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-data {
  text-align: right;
}

.table-control {
  text-align: right;
  vertical-align: top;
}
